*{
    padding: 0;
    margin: 0;
}

.menu-container{
    background-color: rgb(36, 32, 32);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 40px;
}
.logoimage{
    width: 130px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.item{
    padding: 20px 40px;
    transition: 1s;
}
.item:hover{
    color: black;
    background-color: red;
}


/* baner-section  */
/* .barer-container{
    

} */
.baner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgb(8, 8, 8);
}
.baner-pic{
    width: 400px;
}
.baner-heading{
    font-size: 55px;
    font-weight: bold;
    color: white;
    max-width: 495px;
}
.baner-pera{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
    color: white;
}
.baner-btn{
    padding: 12px 22px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}